* {
  margin: 0;
  padding: 0;
}

.country-container {
  height: 250px;
  width: 150px;
  border: 1px solid black;
}

.country-stack {
  display: flex;
  gap: 10px;
}

.continent-cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.continent-container {
  width: calc(150px * 3 + 10px * 3);
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.current-player {
  font-weight: bold;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.city {
  width: 30px;
  height: 30px;
  background-color: black;
}

.red-city {
  background-color: red;
}

.blue-city {
  background-color: blue;
}

.yellow-city {
  background-color: yellow;
}

.purple-city {
  background-color: purple;
}

.orange-city {
  background-color: orange;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.trait-card {
  height: 250px;
  width: 150px;
  border: 1px solid black;
}

.trait-cards-container {
  display: flex;
  gap: 10px;
}
