* {
  margin: 0;
  padding: 0;
}

.country-container {
  height: 250px;
  width: 150px;
  border: 1px solid black;
}

.country-stack {
  display: flex;
  gap: 10px;
}

.continent-cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.continent-container {
  width: calc(150px * 3 + 10px * 3);
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.current-player {
  font-weight: bold;
}
